<div class="container">
  <div class="profbox">
      <div class="row">
        <div class="col-xs-4"><%= image_tag(@user.image, :class => "img-circle") %></div>
        <div class="col-xs-8">
          <div class="row user_prof"><%= @user.name %>のページ</div>
          <div class="row user_prof">メールアドレス: <%= @user.email %></div>
          <div class="row user_prof"><%= link_to "ユーザー情報を変更する", edit_user_path(@user),type: "button",class: "btn btn-success btn-block"  %></div>
        </div>
      </div>
  </div>
  <div class="row row-eq-height">
    自分の投稿一覧
    <table>
      <% @contributions.each do |con| %>
        <tr class="col-xs-12 col-sm-6 col-md-4 cont_img">
          <td><%= link_to image_tag(con.image), contribution_path(con.id) %></td>
          <!-- <td><%= con.caption %></td> -->
        </tr>
      <% end %>
  </table>
  </div>
  <div class="row">
    お気に入り一覧
    <table>
    <% @favorite_conts.each do |con| %>
      <tr class="col-xs-12 col-sm-6 col-md-4 cont_img">
        <td><%= link_to image_tag(con.image), contribution_path(con.id) %></td>
        <!-- <td><%= con.caption %></td> -->
      </tr>
    <% end %>
    </table>
  </div>
</div>
